.main-container{
  padding: 0 5vh;
}

.loader-wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: "Bai Jamjuree";
  text-align: center;
  align-items: center;
  background: #a6562b;
  h1{
    width: 100%;
  }
}

section{
  .section-header{
    margin-bottom: 50px;
    padding: 0 50px;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #626262;
  }
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  font-size: 30px;
  letter-spacing: 1px;
  color: #464646;
  font-weight: 600;
  text-transform: uppercase;
}

.headerContainer{
  position: relative;

  ul{
    position: absolute;
    left: 0;
    top: 100px;
    letter-spacing: 1px;
    color: #646464;
    text-transform: uppercase;
    font-weight: 600;
    list-style: none;

    li{
      margin: 10px 0;
    }
  }
  h1{
    font-size: 18vw;
    font-family: 'Bai Jamjuree', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin: 10vh auto;
    transform: translate(0,500px);

  }
}

.featured-section{
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;

  img{
    clip-path: inset( 100% 0% 0% 0%);
    transition: clip-path 1s cubic-bezier(0.77,0,0.175,1);

    &.is-reveal{
      clip-path: inset( 0% 0% 0% 0%);
    }
  }
  h6{
    font-size: 22px;
    text-transform: uppercase;
  }
  .featured-row-layout,.featured-colum-layout{
    display: grid;
    gap: 10px;
  }
  .featured-row-layout{
    grid-template-rows: repeat(2,auto);
    img{
      width: 100%;
      object-fit: cover;
    }
  }
  .featured-colum-layout{
    grid-template-columns: 100px auto;
    align-items: flex-end;
    img{
      width: 100%;
      height: 125vh;
      object-fit: cover;
    }
    h6{
      transform: translateX(100%) rotate(-90deg);
      transform-origin: left bottom;
    }
  }
}

.about-section{
  p{
    font-size: 55px;
    line-height: 1.12;
    font-family: "Poppins", sans-serif;
    opacity: 0;
    transform: translate(0);
  }
}

.gallery-wrap{
  margin-left: -5vw;
  margin-right: -3.1vw;
  background: #d53f41;

  .gallery-counter{
    position: relative;
    left: 100px;
    z-index: 1;
    mix-blend-mode: difference;
    line-height: 16px;
    color: #dbd8d6;
    font-family: "Bai Jamjuree";
    font-weight: 600;
    font-size: 16px;
    display: flex;
    .divider{
      content: '';
      background: white;
      width: 6.5vw;
      margin: 7px 10px;
      height: 1px;
      display: inline-block;
    }
  }

  .gallery{
    height: 80vh;
    padding: 10vh 0;
    width: 400%;
    display: flex;
    flex-wrap: nowrap;
  }
  .gallery-item{
    width: 100%;
    height: 100%;
    position: relative;
    will-change: transform;
  }
  .gallery-item-info{
    position: absolute;
    bottom: 10%;
    z-index: 1;
    transform: translateX(-20%);
    color: #3b3a3a;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .gallery-info-title{
      margin: 10px 0;
      line-height: 6vw;
      font-size: 6vw;
      font-weight: 600;
      font-family: "Bai Jamjuree";
    }
    .gallery-info-subtitle{
      margin: 10px 0;
      position: relative;
      line-height: 6vw;
      font-family: "Bodoni MT";
      font-weight: 400;
      font-size: 6vw;

    }
    .gallery-info-category{
      margin: 10px 0;
      position: relative;
      line-height: 24px;
      font-family: "Bai Jamjuree";
      font-weight: 400;
      font-size: 24px;

    }
  }
  .gallery-item-wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: 20vw 1fr 200px;
    width: 100vw;
    &.is-reveal .gallery-item-image{
      transform: scale(1);
      filter: none;
    }
  }
  .gallery-item-image{
    background-size: cover;
    background-position:center;
    transform-origin: center;
    width: 100%;
    height: 100%;
    will-change: transform;

    transform: scale(.7);
    transition: all 1.5s cubic-bezier(.77,0,0.175,1);
    filter: grayscale(100%) sepia(20%) brightness(80%);


  }
}

.footer{
  text-align: center;
  .info{
    width: 100%;
    height:73vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

    h1{
      color: #626262;
      height: 5.5em;
      width: 100%;
      text-align: center;
      margin-top: 60px;
      &:first-child{
        margin-left: -30vw ;
      }
      &:last-child{
        margin-left:   30vw ;
      }
      &:hover {
        span{
          i:first-child{
            transform: translate3d(0, -100%, 0) scaleY(0) skewX(10deg);
          }
          i:last-child{
            transform: translate3d(0, 0, 0) scaleY(1) skewX(0deg);
          }
          @for $i from 1 through 6 {
            &:nth-child(#{$i}) {
              i {
                transition-delay: calc(25ms * #{$i});
              }
            }
          }
        }
      }
      span{
        display: inline-block;
        position: relative;

        i{
          display: block;
          line-height: .5em;
          font-size: 100px;
          transition: transform 500ms ease;
        }
        i:last-child{
          position: absolute;
          top: 0;
          left: 0;
          transform: translate3d(0, 100%, 0) scaleY(0) skewX(-30deg);
        }
        @for $i from 1 through 6 {
          &:nth-child(#{$i}) {
            i {
              transition-delay: calc(25ms * #{5 - $i});
            }
          }
        }
      }

    }
  }
  .linkCreator{
    width: 100%;
    height: 100px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      .linkGit, .linkLinkedin{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 2vw;
        img{
          width: 2em;
          height: auto;
        }
      }
    }
    .right{
      display: flex;
      align-items: center;
      gap: 100px;
      font-size: 2vw;
    }
  }
}

